body{
    padding: 25px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    height: 3000px;
}
.selector-for-some-widget {
    box-sizing: content-box;
  }

/* -------------------------- HEADER -----------------------------------------*/

/* 
tipografia: modern antiqua */
/* #nombre-web{
    font-family: georgia, serif;
    display: grid;
    text-align: center;
    margin-left: 25px;
    color: aliceblue; 
    float: left;  
    
}
.nombre {
    font-size: 150%;
}
.apellidos {
    font-size: 250%;
} */
@font-face {
    font-family: 'Modern Antiqua';
    src: url('fonts/ModernAntiqua-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

h1{
    font-family: 'Modern Antiqua';
    color: aliceblue;
}
p {
    color: aliceblue;
}
.logo img{
    max-width: 9%;
    position: fixed;
    top: 1%;
}

.cabecera {
    /* display: grid; */
    /* justify-items: center; */
    margin-bottom: 25px;
}
.nav-link{
    color: var(--bs-nav-link-color);
}


/* -------------------------- CONTENT -----------------------------------------*/

.ir-arriba img{
    width: 5%;
	display:none;
	position: fixed;
    cursor: pointer;
	bottom:20px;
	right:20px;
}
/* GALERIA DE FOTOS */
.container .row {
    margin-bottom: 10px;
}

.container .row .img{
    justify-content: start;
}

/*  ------form----- */
.collapse {
    margin-bottom: 80px;
}
.card{
    display: grid;
    align-items: center;
    margin: 50px;
    
}
.card{
    display: grid;
    align-items: center;
    margin: 50px;
    /* width: 865px; */
}

.form-group {
    margin-bottom: 10px;
}


/* -------------------------- CONTACTO -----------------------------------------*/

.btn-group-vertical img{
    width: 40%;
}
.btn-group-vertical a{
    margin-bottom: 12%;
}

